---
layout: main
---
<!-- TODO: Figure out how to handle per post head info
<head>

    <link rel='prev' title='“Programmer” is the New “Author”: How Misperception is Polluting an Industry'
          href='https://ovitconsulting.com/2018/07/14/programmer-is-the-new-author-how-misperception-is-polluting-an-industry/'/>

    <link rel="canonical"
          href="https://ovitconsulting.com/2018/07/18/tracking-asynchronous-process-completion-with-azure-application-insights/"/>
    <link rel='shortlink' href='https://wp.me/pa4Qes-1z'/>

    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Tracking Asynchronous Process Completion with Azure Application Insights"/>
    <meta property="og:url"
          content="https://ovitconsulting.com/2018/07/18/tracking-asynchronous-process-completion-with-azure-application-insights/"/>
    <meta property="og:description"
          content="Recently I was working with a client that had developed several Azure based micro-services intended to run as an HTTP triggered process, running asynchronously from the client&#8217;s perspective. …"/>
    <meta property="article:published_time" content="2018-07-18T12:54:49+00:00"/>
    <meta property="article:modified_time" content="2018-07-18T13:11:35+00:00"/>
</head>
-->

<!-- Figure out how to inject single/single-post/post-template-default into body -->
<div class="single">
    <article id="post-97"
             class="post-97 post type-post status-publish format-standard hentry category-how-to tag-appinsights tag-azure tag-c">

        <header class="entry-header">
            <div class="entry-meta">
            <span class="byline">
                Written by <span class="author vcard"><a class="url fn n" href="{{ '/about.html' | relative_url}}">Travis Stokes</a></span>
            </span>
            <span class="posted-on">
                <a href="{{ page.url }}" rel="bookmark">
                    <time class="entry-date published" datetime="{{ page.date | date_to_xmlschema}}">{{ page.date | date_to_string: "ordinal", "US" }}</time>
                </a>
            </span>
            </div><!-- .entry-meta -->
            <h1 class="entry-title">{{ page.title }}</h1>
        </header>
        <!-- .entry-header -->

        <div class="entry-wrapper">
            <div class="entry-content">
                {{ content }}
                {% include share-bar.html %}
            </div><!-- .entry-content -->
            <!-- TODO: Add footer with tags/categories
            <footer class="entry-footer">
                    <span class="cat-links">Posted in <a href="https://ovitconsulting.com/category/how-to/"
                                                         rel="category tag">How-To</a>.</span><span
                    class="tags-links">Tagged <a href="https://ovitconsulting.com/tag/appinsights/"
                                                 rel="tag">appinsights</a>, <a
                    href="https://ovitconsulting.com/tag/azure/"
                    rel="tag">azure</a>, <a
                    href="https://ovitconsulting.com/tag/c/" rel="tag">c#</a>.</span><span class="edit-link"><a
                    class="post-edit-link" href="https://wordpress.com/post/ovitconsulting.com/97">Edit</a></span>
            </footer>
            -->
            <!-- .entry-footer -->
        </div>
    </article><!-- #post-## -->
</div>